<section class="about">
  <div class="container">
    <div class="about-image">
      <img
        src="https://media.istockphoto.com/id/520874874/photo/futuristic-about-us-concept-on-hi-tech-touchscreen.jpg?s=612x612&w=0&k=20&c=SeWhnZQFV_yPQi9PTVfNCiiRTZttJWYfThDWg9IHia0="
        alt="Team Working">
    </div>
    <div class="about-content">
      <h2>Who Are We?</h2>
      <p>We help people to build incredible brands and superior products. Our perspective is to furnish outstanding
        captivating services.</p>
      <p>
        Nullam gravida orci ac luctus molestie. Fusce finibus congue erat, non aliquam magna tincidunt at. Aenean
        lacinia arcu ex, sed pharetra nibh porta a.
        Curabitur vel consequat nibh, ac interdum nisl. Nunc pulvinar nec massa vitae sollicitudin.
      </p>
      <div class="features">
        <div class="feature">
          <span class="icon">🔵</span>
          <div>
            <h4>Versatile Brand</h4>
            <p>We are crafting a digital method that subsists life across all mediums.</p>
          </div>
        </div>
        <div class="feature">
          <span class="icon">💧</span>
          <div>
            <h4>Digital Agency</h4>
            <p>We believe in innovation by integrating primary with elaborate ideas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>