.header {
    background-color: #222;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px;
}

.logo-title {
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: none;
}

li {
    margin: 0 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.2);
}

.active {
    background-color: #04aa6d;
    border-radius: 5px;
}