body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", serif;
}

header {
  display: flex;
  height: 34px;
  color: grey;
  background-color: black;
  align-items: center;
  padding: 0 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.container h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 11px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #286090;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

ul li.completed span {
  text-decoration: line-through;
  opacity: 0.7;
}

ul li button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

ul li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

ul li span {
  flex-grow: 1;
  margin-bottom: 3px;
}

.fa-trash {
  color: #ff4d4d;
}